{# 
  Cellule de corps de table
  Variables disponibles:
  - column: Colonne courante
  - item: Élément de données courant
  - component: Instance du LiveComponent
#}

<td class="datatable-body-cell{% if column.getOption('cssClass') %} {{ column.getOption('cssClass') }}{% endif %}"
    {% if column.getOption('dataAttributes') %}
        {% for attr, value in column.getOption('dataAttributes') %}
            data-{{ attr }}="{{ value }}"
        {% endfor %}
    {% endif %}>
    {% if column.getName() == 'actions' %}
        {# Pour ActionColumn, on ne récupère pas de valeur de propriété #}
        {{ component.renderColumn(column.getName(), null, item)|raw }}
    {% else %}
        {# Pour les autres colonnes, on récupère la valeur de la propriété #}
        {% set fieldValue = attribute(item, column.getName()) %}
        {{ component.renderColumn(column.getName(), fieldValue, item)|raw }}
    {% endif %}
</td>